<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soccer EU</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    

    <body style="background-color:#2a3036"></body>

</head>
<body>
    <h1 style="text-align:center">I DONT KNOW WHAT IM DOING</h1>
    <a href = "http://127.0.0.1:5000">Home</a>
    <a href = "http://127.0.0.1:5000/Overall">Page 2</a>
    <a href = "http://127.0.0.1:5000/players">Page 3</a>


    <div id="plot"></div>

    <select id="selDataset">
        <option value="g1">graph 1</option>
        <option value="g2">graph 2</option>
    </select>

    <script src="{{ url_for('static', filename='js/myJS.js') }}"></script>
    <script src="plots.js"></script>

</body>
</html>